@import '../../../assets/styles/_variables';

.skills {
  margin: 145px 75px 50px 155px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  &__com {
    margin-top: 75px;
    display: flex;
    gap: 15px;
    // height: 380px;

    &--carousel {
      width: 380px;
    }
  }

  &__dev {
    display: flex;
    gap: 15px;
    // height: 380px;
    justify-content: space-between;

    &--carousel {
      width: 380px;
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    margin: 500px 15px 50px 75px;

    &__com {
      flex-direction: column;
      &--carousel {
        width: 200px;
      }
    }

    &__dev {
      margin-top: 120px;
      flex-direction: column;
      &--carousel {
        width: 200px;
      }
    }
  }
}

ul li {
  margin-bottom: 10px;
}
