.contact {
  display: flex;
  margin: 145px 50px 50px 75px;
  flex-direction: row;
  width: 100%;

  &__form {
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 65%;
  }

  &__links {
    width: 35%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    &--link {
      img {
        width: 150px;
      }
    }
  }

  .btn {
    align-self: flex-end;
    margin-top: 15px;
    width: 124px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    margin: 25px 15px 50px 35px;

    &__form {
      width: 75%;
      margin-top: 30px;
    }

    &__links {
      flex-direction: row;
      margin-left: 80px;
      margin-top: 30px;
      &--link {
        align-self: center;
        img {
          width: 100px;
        }
      }
    }
  }
}
