.nav {
  position: fixed;
  height: 100%;
  justify-content: space-around;
  margin-left: -12px;

  a {
    width: 110px;
    transform: rotate(-90deg);
    color: black;
  }

  @media (max-width: 600px) {
    .nav {
      width: 30px;
    }
    a {
      // width: 30%;
      font-size: 12px;
    }

    &-item {
      width: 50px;
    }

    .nav-link {
      width: 75px;
    }
  }
}
